fastapi
uvicorn
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
jinja2
sqlalchemy>=2.0.0
sqlmodel>=0.0.14
fastapi-users[sqlmodel]>=12.0.0
requests
paramiko
scp
aiofiles
aiosqlite
apscheduler
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
slowapi
python-dateutil
fastapi-csrf-protect
pydantic-settings
